@font-face {
  font-family: 'NanumSquareNeoVariable';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'NanumBarunpenB';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.ttf) format("truetype");
  font-display: sw
}

body {
  font-family: 'NanumSquareNeoVariable', sans-serif;
  background: #f9f9f9;
  margin: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none !important;
}

#pressany {
  font-size: 4.5rem;
  font-weight: 200;
}

#space {
  color: #f9f9f9; 
  background: #222;
  padding: 0.2rem 0.4rem; 
  border-radius: 0.5rem;
  transition: .5s ease-out;
  font-weight: 200;
}

#display {
  position: relative;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#lengthHint {
  position: absolute;
  bottom: 0;
  right: -1rem;
  font-size: 0.9rem;
  color: gray;
}

#input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 10px;
  background: #eee;
  outline: none;
  min-width: 400px;
  text-align: center;
  transition: all 0.3s;
  font-family: 'NanumBarunPenB';
}

#status {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: gray;
  transition: all 0.3s;
  min-height: 1.5rem;
}

#timer {
  position: fixed;
  bottom: 20px;
  font-size: 1.2rem;
  color: green;
}

.green-pulse {
  color: #00CC52;
  animation: pulse 0.6s ease-out;
}

.red-pulse {
  color: red;
  animation: pulse 0.4s ease-in;
}

.red-text {
  color: #FF0F5B;
}

.black-text {
  color: #888;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}