#header {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  transform-origin: top right;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  white-space: nowrap;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

#header:hover {
  width: 340px;
  height: 100px;
  padding-top: 58px;
}

#logo {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 50px;
}

#logotxt {
  position: absolute;
  top: 8px;
  left: 70px;
  height: 50px;
  font-weight: 600;
  line-height: 54px;
  opacity: 0;
  transition: all 0.3s;
  font-size: 1.5rem;
}

#header:hover > #logotxt {
  opacity: 1;
}

#settings {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  width: 90%;
  height: 100%;
  display: grid;
  padding: 16px;
  margin-top: 10px;
  flex-direction: column;
  grid-template-columns: 35% 65%;
  row-gap: 8px;
  column-gap: 12px;
  background-color: #eee;
  border-radius: 5px;
}

#settings > span {
  display: flex;
  align-items: center;
}

#header:hover > #settings {
  opacity: 1;
  pointer-events: auto;
  font-size: 1.3rem;
}

#header .material-symbols-outlined {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: -3px;
  font-variation-settings:
  'FILL' 1,
  'GRAD' 0,
  'opsz' 24
}

#title {
  font-size: 1.5rem;
  font-weight: 600;
}

@font-face {
  font-family: 'NanumSquareNeoVariable';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'NanumBarunpenB';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunpen/NanumBarunpenB.ttf) format("truetype");
  font-display: sw
}

body {
  font-family: 'NanumSquareNeoVariable', sans-serif;
  background: #f9f9f9;
  margin: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none !important;
}

#pressany {
  font-size: 4.5rem;
  font-weight: 200;
}

#display {
  position: relative;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#lengthHint {
  position: absolute;
  bottom: 0;
  right: -1rem;
  font-size: 0.9rem;
  color: gray;
}

#input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 10px;
  background: #eee;
  outline: none;
  min-width: 400px;
  text-align: center;
  transition: all 0.3s;
  font-family: 'NanumBarunPenB';
}

#status {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: gray;
  transition: all 0.3s;
  min-height: 1.5rem;
}

#timer {
  position: fixed;
  bottom: 20px;
  font-size: 1.2rem;
  color: green;
}

.green-pulse {
  color: #00CC52;
  animation: pulse 0.6s ease-out;
}

.red-pulse {
  color: #FF0F5B;
  animation: pulse 0.4s ease-in;
}

.red-text {
  color: #FF0F5B;
}

.black-text {
  color: #888;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
